<h4>Capstone Id: <%= @capstone.id %></h4>
<h4>Capstone Name: <%= @capstone.name.titleize %></h4>
<h4><%= @student.full_name %></h4>
<h4>Description: <%= @capstone.description %></h4>
<%= image_tag (@capstone.screenshot), class: "img-thumbnail" %>